/********** Selettori Tag*/

body {
    font-family: Arial, sans-serif;
}


/********** Selettori Classi*/

/* Sezione navbar*/

.my_navbar-1 {
    background-color: black;
}

.navbar-image1 {
    min-height: 40px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-image1 img {
    width: 10%;
}

.my_navbar-2 {
    min-height: 60px;
}

.my_navbar-2 a img {
    width: 100%;
}

.my_navbar-right li a img{
    width: 100%;
    padding: 5px 15px;
    text-align: center;
}

.my_navbar-right li:last-child {
    width: 55px;
}

/* Sezione Hero*/

.my_hero {
    background-image: url(../img/returnal-20211251321997_1.jpg);
    background-size: cover;
    background-position: 65% 65%;
}

.section-mainhero {
    padding-top: 200px;
    padding-bottom: 50px;
}

.padding-general {
    padding: 20px 0;
}

.image-returnal img {
    width: 100%;
}

.my_hero .row button {
    background-color: #d6613d;
}

/********** Utilities*/

.button-radius {
    border-radius: 25px;
}

.section-base {
    padding: 20px 0;
}

/********** Mediaquery*/


